# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Build outputs
# =========================
dist/
build/
coverage/
.tmp/
temp/
test


# Angular
orders-frontend/.angular/
orders-frontend/.sass-cache/

# NestJS
orders-backend/dist/

# =========================
# Environment files
# =========================
.env
.env.local
.env.*.local

# Ne PAS ignorer si tu veux versionner un exemple
# !.env.example

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# VSCode
# =========================
.vscode

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
docker-data/
dockers
*.pid

# Docker override local
docker-compose.override.yml


# =========================
# Cache
# =========================
.cache/
.nx/
.eslintcache

# =========================
# Runtime
# =========================
pids/
*.pid
*.seed
*.pid.lock


.sfdx