<div class="h-full"> <!-- h-full pour que toutes les cartes aient la même hauteur sur une ligne -->
    <p-card styleClass="shadow-2 border-round-xl h-full" [style]="{ width: '100%' }">
        <!-- Header Template -->
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2 p-3 pb-0">
                <i class="{{icon()}} text-2xl" style="color: var(--primary-color)"></i>
                <span class="font-bold text-lg text-500">{{title()}}</span>
            </div>
        </ng-template>

        <!-- Section Chiffres -->
        <div class="flex flex-column align-items-center justify-content-center py-2">
            <!-- Valeur principale -->
            <div class="text-5xl font-bold {{colorStatus()}} mb-3">
                @if (isCurrency()) {
                {{ data()?.value | currency: 'EUR':'symbol':'1.2-2':'fr-BE' }}
                } @else {
                {{ data()?.value }}
                }
            </div>

            <!-- Comparaison -->
            <div class="flex flex-wrap align-items-center justify-content-center gap-2">
                <span class="{{colorStatus()}} font-semibold flex align-items-center gap-1">
                    <i class="pi {{iconStatus()}} text-sm"></i> {{data()?.percent}}%
                </span>
                <span class="text-500 text-sm">
                    vs période préc. (
                    @if (isCurrency()) {
                    {{ data()?.previous | currency: 'EUR':'symbol':'1.0-0':'fr-BE' }}
                    } @else {
                    {{ data()?.previous }}
                    })
                </span>
            </div>
        </div>
    </p-card>
</div>